@import "bootstrap-basics-overides";

body {
  background-position-y: 0px;
  ackground-attachment: fixed;
  __font-family: 'Noto Sans', sans-serif;
  font-family: 'Titillium Web', sans-serif;
  __font-family: 'Muli', sans-serif;
  __font-family: 'Hind', sans-serif;
  __font-family: 'Oxygen', sans-serif;
  __font-family: 'Cabin', sans-serif;

  font-size: 18px;
}

hr {
  margin-top: 5px;
  margin-bottom: 5px;
}

.dates {
  font-weight: bold;
}

hr.transparent {
  border: none;
  background-color: transparent;
  margin-bottom: 15px;
  margin-top:15px;
}

h1 {
  small {
    color: #b92c28;
  }
}

h1 span.inverse {
  background-color: white;
  padding: 0px 20px;
}

div.container.contact {
  text-align: right;
  margin-bottom: 0px;
  
  div {
    height:100px;
    background: white;
    line-height: 30px;
  }
  

  h4 {
    text-align: right;
    padding-right: 2em;
    font-weight: bold;
  }

}

h3 {
  color: #2e6da4;
}

h2 {
  small {
    color: #3c3c3c;
  }
}